* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
}
@keyframes slideEffect {
    0% {
      transform: scaleX(0);
      left: 50%;
    }
    100% {
      transform: scaleX(1);
      left: 0;
    }
  }
  
  header {
    position: relative;
    background-color: black;
    color: white;
    height: 35px;
    padding: 20px;
    overflow: hidden;
    padding-left: 70px;
    padding-right: 70px;
  }
  
  header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    transform-origin: center;
    transform: scaleX(0);
    animation: slideEffect 2s ease-out forwards;
  }
  
  .div-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .h1-header {
    font-family: "Roboto", serif;
    font-weight: 600;
  }
.div-main {
    padding: 20px;
}
.cf-h1 {
    font-family: "Roboto", serif;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
}
.hime {
    font-size: 24px;
    margin-right: 20px;
}
.cd-h1 {
    font-family: "Roboto", serif;
    font-weight: 600;
    color: white; 
    margin-top: 20px;
    font-size: 24px;
}
.line {
    background-color: white;
    width: 100%;
    height: 1px;
    margin-top: 20px;
}
.p-cd {
    font-family: "Roboto", serif;
    font-weight: 600;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
/* From Uiverse.io by Mangesh636 */ 
button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(36, 161, 222);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(36, 161, 222);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #fff;
  border: 1px solid rgb(36, 161, 222);
  cursor: pointer;
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(36, 161, 222);
}
  .p-df {
    font-family: "Roboto", serif;
    color: white;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  .slider {
    display: flex;
    overflow: hidden;
    width: auto;
    max-width: 220px;
    margin: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}
.slides {
    display: flex;
    transition: transform 0.8s ease-in-out;
}
.slide {
    flex-shrink: 0;
    width: 100%;
}
.slide img {
    display: block;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}
.p-iv {
  font-family: "Roboto", serif;
    color: white;
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
}
#languageSelect {
  border-radius: 50px;
  padding: 5px;
  background-color: unset;
  color: white;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", serif;
    font-weight: 600;
}
.er {
  background-color: black;
  border-radius: 10px;
  font-family: "Roboto", serif;
    color: white;
    font-weight: 600;

}
